@media screen and (min-width: 800px) {
    .office {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .d {
        display: none;
    }

    .office {
        width: 200%;
    }

    .image {
        width: 200%;
    }

    .icons {
        width: 250%;
    }
}


.arrow {
    position: relative;
    top: -30px;
}
.arrow:hover {
	box-shadow: 0px 0px 20px rgba(50, 50, 50, .3);
}